/* header */

.header-menu{
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    border-top: 1px solid rgba(0, 0, 0, 0.24);
    
}

.bg-light{
    background-color: rgba(0, 0, 0, 0);
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.79);
}
.form-control{
    background: rgba(62, 60, 60, 0.26);
    border-radius: 10px;
    color: #000000;
    
}

.mr-sm-2{
    margin-right: 146px;
}
.header-menu input::-webkit-input-placeholder{
    color: #000000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    
}


/* ol */

.path{
    margin-top: 32px;
    margin-left: -15px;
    color: #575757;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
}
.path li{
    display: inline-block;
    
}
.path .li-1{
    border-right: 1px solid rgba(0, 0, 0, 0.6);
    width: 88px;   
}
.path .li-1-1{
    width: 144px;
}

.path a:link{
    color: #575757;
}
.path a:visited{
    color: #575757;
}
.path a{
    text-decoration: none;
}

/*chi tiết sản phẩm*/
.product-information h3{
    font-weight: 500;
font-size: 24px;
line-height: 28px;

color: #0099CC;
}
.product-information h1{
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;  
    color: #31659C;
}
.color p, .size p, .describe p, .product-number p{
    font-size: 18px;
}
.product-number input{
    width: 45px;
}
.size label{
    font-size: 21;
    margin-right: 10px;
}
.xs{
    width: 20%;
}
.img-show{
    cursor: pointer
}
.btn-outline-info, .btn-primary{
    height: 50px;
    width: 49%;
}
.review-1{
    border-bottom:  1px solid rgba(0, 0, 0, 0.24)
}
.review{
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    padding-top: 18px;
}
.login-show{
    width: 310px;
    height: 43px;
}

/* Nhận xét */

.comment-1 h3{
    color: #0099CC;
}


/* sản phẩm bạn có thể thích */

.product-2{
    margin-top: 60px;
}
.product-2 div{
    text-align: center;
}
.product-2 a{
    text-decoration: none;
}
.product-2 a h2{   
    color: #0099CC;
    font-size: 32px;
    line-height: 47px;   
    margin-bottom: 55px;
    text-align: center;
}
.slide img {
    width: 235px;
    
}
.slide {   
    max-width: 1332px;
    margin: 0 auto;
    margin-bottom: 47px;
}

.slick-prev {
    left: 10px;   
}
.slick-next {
    right: 10px;   
}
.slick-prev:before, .slick-next:before {      
    font-size: 48px;   
    color: #03A9F4;   
}
.slick-prev, .slick-next{
    z-index: 100;
    top: 31%;
    height: 32px;
    width: 32px;
}
.slick-next:before {
    content: url(../img/jpg/keyboard-right-arrow-button.png);
}
.slick-prev:before {
    content: url(../img/jpg/keyboard-right-arrow-button2.png);
}
.slide-1 p{
    margin-bottom: 6px;
    margin-top: 6px;
    color: #575757;
}
.slide-1 h5{
    font-size: 24px;
    color: #31659C;
    font-weight: bold;
    margin-bottom: 53px;
}
.slide-1 a{
    text-decoration: none;
}
.slick-slide img {
    display: inherit;
}

/* contact */

.contact{
    margin-top: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.24);
}
.container {
    max-width: 1300px;
    padding-top: 30px;
    padding-bottom: 30px;
        
}

.col-xl-4{
    text-align: center;
}
.shopping{
    height: 70px;
    width: 70px;
    margin-top: 20px
}
.phone{
    height: 70px;
    width: 70px;
    margin-top: 20px
}
.hand{
    height: 70px;
    width: 70px;
    margin-top: 20px
}
.contact1{
    display: inline-table;
    padding-left: 15px;
}
.contact1 h5 p{
    font-size: 20px   
}
.borderr{
    border-right: 1px solid #000000;
}
.contact{
    margin-bottom: 85px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
}

.contact1 p{
    font-weight: 300;
}
@media (max-width: 768px){
    .shopping, .phone, .hand {
        height: 50px;
        width: 50px;
        margin-top: 20px;
    }
    .contact .container {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
@media (max-width: 440px){
    .header-menu{        
        height: 130px;
    }
    .contact .col{
        padding-left: 0;
        padding-right: 0;
    }
    .shopping, .phone, .hand {
        height: 40px;
        width: 40px;
    }    
}
@media screen and (max-width: 500px) {
    .contact1 p{
        display: none;
    }
    
} 

