/* header */

.header-menu{
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    border-top: 1px solid rgba(0, 0, 0, 0.24);
    
}

.bg-light{
    background-color: rgba(0, 0, 0, 0);
}
.nav-link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.79);
}
.form-control{
    background: rgba(62, 60, 60, 0.26);
    border-radius: 10px;
    color: #000000;
    
}

.mr-sm-2{
    margin-right: 146px;
}
.header-menu input::-webkit-input-placeholder{
    color: #000000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    
}

/* ol */

.path{
    margin-top: 32px;
    margin-left: -15px;
    color: #575757;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
}
.path li{
    display: inline-block;
    
}
.path .li-1{
    border-right: 1px solid rgba(0, 0, 0, 0.6);
    width: 88px;   
}

.path a:link{
    color: #575757;
}
.path a:visited{
    color: #575757;
}
.path a{
    text-decoration: none;
}

/* product */
.portfolio-product{
    display: flex;
    margin-top: 60px;
}



@media (min-width: 768px){
    .product container {
        max-width: 100%;
    }

}
@media (min-width: 576px){
    .product .container {
        max-width: 100%;
    }

}



.portfolio .portfolio-list{
    width: 240px;
    height: 648px;
    border: 1px solid rgba(0, 0, 0, 0.24);
    padding-inline-start: 0;
    margin-left: 64px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25)
}
.portfolio .portfolio-list h4{
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #0099CC;
}
.list{
    padding-inline-start: 11px;
}
.list li{
    margin-bottom: 10px;
    ;
}
.list li a{
    color: #575757;
    text-decoration: none;
}
.list-shirt{
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    height: 199px;
    padding-top: 20px;
}
.list-trousers{
    padding-top: 20px;

}
@media screen and (max-width: 992px) {
    .portfolio{
        display: none;
    }
}
.product .row{
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.24);
    padding-top: 50px;
}
.product h1{
    padding-left: 70px;
    color: #0099CC;
    
}
.product p{
    margin-bottom: 12px;
    margin-top: 10px;
    font-size: 18px;
    line-height: 19px;
    color: #575757
}

.product .container h5{
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #31659C;
    margin-bottom: 41px;
}
.product .container {
    padding-right: 80px;
    padding-left: 70px;
}

.pagination{
    padding-right: 80px;
}

/* contact */

.container {
    max-width: 1300px;
    padding-top: 30px;
    padding-bottom: 30px;
        
}

.col-xl-4{
    text-align: center;
}
.shopping{
    height: 70px;
    width: 70px;
    margin-top: 20px
}
.phone{
    height: 70px;
    width: 70px;
    margin-top: 20px
}
.hand{
    height: 70px;
    width: 70px;
    margin-top: 20px
}
.contact1{
    display: inline-table;
    padding-left: 15px;
}
.contact1 h5 p{
    font-size: 20px   
}
.borderr{
    border-right: 1px solid #000000;
}
.contact{
    margin-top: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.24);
}

.contact1 p{
    font-weight: 300;
    
}